assets/
entities/
graphics/
graphics_old/
lang/
music/
sounds/
static_objects/
.bat
.expobj
.swd
.png
.dds
.hpm
.hpm_Area
.hpm_Billboard
.hpm_Compound
.hpm_Decal
.hpm_DetailMeshes
.hpm_Entity
.hpm_ExposureArea
.hpm_FogArea
.hpm_LensFlare
.hpm_Light
.hpm_LightMask
.hpm_ParticleSystem
.hpm_Primitive
.hpm_Sound
.hpm_StaticComboArea
.hpm_StaticObject
.hpm_StaticObjectBatches
.hpm_Terrain
.map_cache
.preload_data
.voice
.nodes
*.expobj
*.bat
*.png
*.hpm
*.hpm_Area
*.hpm_Billboard
*.hpm_Compound
*.hpm_Decal
*.hpm_DetailMeshes
*.hpm_Entity
*.hpm_ExposureArea
*.hpm_FogArea
*.hpm_LensFlare
*.hpm_Light
*.hpm_ParticleSystem
*.hpm_LightMask
*.hpm_StaticObjectBatches
*.hpm_Terrain
*.map_cache
*.preload_cache
*.voice
*.nodes
*.dds
*.hpm_StaticObject
*.hpm_StaticComboArea
*.hpm_Sound
*.hpm_Primitive
maps/temp/temp.hps
entry.swd
